.folderContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.folder {
  position: relative;
  z-index: 10;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  letter-spacing: 1px;

  max-width: 110px;
  aspect-ratio: 1/1;

  color: var(--primary);
  border: 3px solid var(--accent);
  padding: 8px;
  border-radius: 8px;

  transition: all 0.3s;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--accent);
    filter: drop-shadow(0 0 6px var(--accent));

    svg,
    p {
      filter: drop-shadow(0 0 4px var(--primary));
    }
  }

  svg,
  p {
    transition: filter 0.3s;
  }

  svg {
    width: 90px;
    height: 35px;
  }

  p {
    margin-top: 0.5rem;
  }

  .counter {
    position: absolute;
    top: 3px;
    right: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    color: var(--accent);

    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}

.glass {
  background: rgba(0, 0, 0, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
