.buttons {
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.whatsContainer {
  background-color: #ffffff2f;
  border-radius: 8px;
}

.whats {
  width: 100%;
  // background-color: var(--gray);
  // border-radius: 8px;
}
