@property --glow-deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: -90deg;
}

:root {
  --primary: #fff;
  --accent: #d3670e;
  --rgbWater: 0, 153, 255;

  --hover: #91248b;
  --purple: #91248b;
  --darkPurple: #4e0a4a;

  --sky1: #ffdd00;
  --sky2: #1d3fc2;

  --border-radius: 8px;
}
