@property --glow-deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: -90deg;
}

:root {
  --primary: #fff; // Manter ou ajustar conforme necessário
  --accent: #d3670e; // Laranja (Destaque)
  --hover: #91248b; // Roxo (Destaque)
  --purple: #91248b; // Roxo (Destaque)
  --darkPurple: #4e0a4a; // Roxo mais escuro (Destaque)

  // Cores para o Modo Dia:
  --sky1: #ffd700; // Amarelo Dourado para o Sol
  --sky2: #87ceeb; // Azul Claro para o Céu (Sky Blue)
  --rgbWater: 65, 105, 225; // Azul Royal para a Água (RGB: 65, 105, 225 - #4169E1)

  --border-radius: 8px; // Manter
}
