.desktop {
  width: 100dvw;
  height: 100dvh;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  background: radial-gradient(70dvh 70dvh at 100% 0%, #ffdd00 0%, #1d3fc2 53%);
  background-size: 100% 100%;
  transition: background-size 0.5s ease-in-out,
    background-position 0.5s ease-in-out;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.desktop.night {
  background: radial-gradient(50dvh 50dvh at 100% 0%, #aaa 0%, #000 53%);
}

.alert {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  min-width: 40dvw;
  opacity: 0;
  animation: fadeInOut 0.15s forwards, shake 0.25s;
}

@keyframes fadeInOut {
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }
  20%,
  60% {
    transform: translateX(-49%);
  }
  40%,
  80% {
    transform: translateX(-51%);
  }
}
